* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0em;
  user-select: none;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgb(245, 245, 245);
}

nav div .hamburger {
  display: none;
}

div.logo img {
  height: 3rem;
}

div.logo span {
  font-weight: 500;
  line-height: normal;
}

div.links ul li {
  /* color: rgb(167, 116, 40); */
  font-weight: 700;
}

nav .small-screens-links {
  display: none;
}

div.links ul li :hover {
  /* background-color: rgba(221, 221, 221, 0.627); */
  /* background-color: rgba(146, 177, 254, 0.422); */
  border-radius: 7px;
}

nav .btn {
  color: rgb(34, 34, 34);
  display: block;
}

nav .btn:hover {
  /* background-color: rgba(167, 116, 40, 0.863); */
  color: rgb(255, 255, 255);
}

main {
  margin-top: 4rem;
}

div .user{
  display: flex;
  flex-direction: row;
}

main .userDP {
  /* background-color: aqua; */
  width: fit-content;
}

div.userDP img {
  height: 12rem;
  /* border-color: rgb(167, 116, 40); */
}

div.events {
  overflow: auto;
  white-space: nowrap;
  /* width: 69rem; */
  width: 101%;
}

div .event {
  display: inline-block;
  width: 350px;
  white-space: normal;
  /* transition: all 2s ; */
  /* backdrop-filter: blur(4px); */
}

.events::-webkit-scrollbar {
  width: 0em;
}

.events {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

@media (max-width: 600px) {
  /* header {
    border: 1px solid black;
    margin: 9px 17px;
    width: 360px;
    border-radius: 62px;
  } */

  nav {
    flex-direction: column;
    margin: 1rem 0px -1rem 0rem;
  }

  nav div .hamburger {
    display: block;
  }

  nav .headLogo {
    justify-items: stretch;
    align-items: center;
  }

  nav .small-screens-links {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
  }

  nav .small-screens-links ul {
    margin-top: 1rem;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
  }

  nav .loginBtn {
    /* display: block; */
    display: none;
    margin-bottom: 1rem;
  }

  nav .logoLink {
    display: flex;
    justify-content: center;
    justify-content: center;
  }

  nav .big-screens-links {
    display: none;
  }

  main .user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .userDP img{
    height: 9rem;
  }

  div.events {
    overflow: auto;
    white-space: nowrap;
    width: 23rem;
  }

  main .grid-container{
    column-gap: 3rem;
    margin-left: 3rem;
  }
}
