<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentosa Enclave - SocietySync</title>

    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="w-screen">
    <%- include('partials/adminDashboard/_header') %>
    <div class="flex">
      <%- include('partials/adminDashboard/_sidebar1') %> <%-
      include('partials/adminDashboard/_sidebar2') %>
    </div>

    <main class="py-24">
        <div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-lg">
            <h1 class="text-2xl font-semibold mb-4">Add Event</h1>
            <form action="/eventManager/addEvent" method="post" id="event-form" class="space-y-4">
              <div>
                <label for="title" class="block text-gray-600 text-sm font-medium mb-2">Event Title:</label>
                <input type="text" id="title" name="title" required class="w-full border border-gray-300 rounded-md p-2" />
              </div>
              <div>
                <label for="description" class="block text-gray-600 text-sm font-medium mb-2">Event Description:</label>
                <textarea id="description" name="description" required class="w-full border border-gray-300 rounded-md p-2"></textarea>
              </div>
              <div>
                <label for="date" class="block text-gray-600 text-sm font-medium mb-2">Event Date and Time:</label>
                <input type="datetime-local" id="date" name="date" required class="w-full border border-gray-300 rounded-md p-2" />
              </div>
              <div>
                <label for="location" class="block text-gray-600 text-sm font-medium mb-2">Event Location:</label>
                <input type="text" id="location" name="location" required class="w-full border border-gray-300 rounded-md p-2" />
              </div>
              <div>
                <button type="submit" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white rounded-md font-semibold">Add Event</button>
              </div>
            </form>
          </div>
    </main>

    <!-- <footer class="h-8 w-full bg-gray-500 text-center text-white">
      <span>copyright SocietySync 2023</span>
    </footer> -->

    <script src="js/script.js"></script>
  </body>
</html>
