<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentosa Enclave - SocietySync</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header class="px-9 py-5 shadow-md">
      <nav class="flex flex-wrap gap-3 justify-between content-center">
        <a href=""
          ><div class="logo flex gap-4">
            <img class="" src="resources/logo.png" alt="Logo" />
            <span class="">SENTOSA<br />ENCLAVE</span>
          </div></a
        >

        <div class="links flex flex-wrap gap-3 md:w-auto">
          <ul class="flex flex-wrap gap-7 content-center justify-center">
            <li><a class="px-3 py-2" href="">Dashboard</a></li>
            <li><a class="px-3 py-2" href="">Events</a></li>
            <li><a class="px-3 py-2" href="">Gallery</a></li>
            <li><a class="px-3 py-2" href="">Contact</a></li>
          </ul>
        </div>

        <button class="btn font-bold py-2 px-4 rounded">Log in</button>
      </nav>
    </header>

    <main>
      
    </main>
  </body>
</html>
