<header class="fixed w-screen z-40 bg-white h-fit p-3 items-center shadow-lg">
    <div class="flex justify-between">
      <div class="ham1">
        <button id="hamBtn1" onclick="expandSidebar(this.id)">
          <i class="fa-solid fa-bars fa-xl" style="color: #184490"></i>
        </button>
      </div>
      <a class="logoLink" href=""
        ><div class="logo flex gap-4">
          <img class="h-8 self-center" src="resources/logo.png" alt="Logo" />
          <span class="text-sm">SENTOSA<br />ENCLAVE</span>
        </div></a
      >
      <div class="ham2">
        <button id="hamBtn2" onclick="expandSidebar(this.id)">
          <i class="fa-solid fa-bars fa-xl" style="color: #184490"></i>
        </button>
      </div>
    </div>
  </header>