<sidebar id="sidebar2" class="w-screen h-fit z-50 fixed bg-white shadow-lg">
    <div class="flex justify-between me-6 flex-row-reverse">
      <button onclick="w3_close('sidebar2')" class="text-4xl mt-4">
        &times;
      </button>
    </div>
  
    <div class="navigation p-4 mt-6 overflow-y-scroll">
      
    </div>
  </sidebar>
  