<sidebar id="sidebar1" class="w-screen sm:w-80 h-full z-50 fixed bg-white shadow-lg">
  <div class="flex justify-between me-6">
    <h2 class="text-2xl font-semibold text-gray-800 mt-6 ml-6">
      Admin Controls
    </h2>
    <button onclick="w3_close11('sidebar1')" class="text-4xl mt-4">
      &times;
    </button>
  </div>

  <div class="admin-controls p-4 mt-6 overflow-y-scroll" style="height: 90%;">
    <div class="control-item mb-4">
      <div class="control-heading flex items-center gap-3">
        <h2 class="text-lg font-semibold text-blue-600">Home</h2>
      </div>
      <div class="flex flex-col">
        <a
          class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href=""
        >
          <i class="fas fa-user text-blue-500 mr-2"></i> Dashboard
        </a>
        <a
          class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href=""
        >
          <i class="fas fa-bell text-blue-500 mr-2"></i> Notifications
        </a>
      </div>
    </div>
    <!-- Additional Control Items -->
    <div class="control-item mb-4">
      <div class="control-heading flex items-center gap-3">
        <h2 class="text-lg font-semibold text-orange-600">Notice Board</h2>
      </div>
      <div class="flex flex-col">
        <a
          class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href="/addNotice"
        >
          <i class="far fa-sticky-note text-orange-500 mr-2"></i> Add New Notice
        </a>
        <a
          class="text-lg mt-2 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href="/manageNotices"
        >
          <i class="far fa-list-alt text-orange-500 mr-2"></i> Manage Notice
          Board
        </a>
      </div>
    </div>

    <div class="control-item mb-4">
      <div class="control-heading flex items-center gap-3">
        <h2 class="text-lg font-semibold text-purple-600">Manage Events</h2>
      </div>
      <div class="flex flex-col">
        <a
          class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href="/eventManager/addEvent"
        >
          <i class="far fa-calendar-plus text-purple-500 mr-2"></i> Add New Event
        </a>
        <a
          class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href="/eventManager"
        >
          <i class="far fa-edit text-purple-500 mr-2"></i> Manage Event(s)
        </a>
      </div>
    </div>

    <div class="control-item mb-4">
      <div class="control-heading flex items-center gap-3">
        <h2 class="text-lg font-semibold text-red-600">Manage Complaints</h2>
      </div>
      <div class="flex flex-col">
        <a
          class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href="/complaintBox"
        >
          <i class="fas fa-exclamation-circle text-red-500 mr-2"></i> Review
          Complaints
        </a>
        <!-- <a
                class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
                href="" >
                <i class="far fa-edit text-red-500 mr-2"></i> Edit Event(s) 
              </a> -->
      </div>
    </div>

    <div class="control-item mb-4">
      <div class="control-heading flex items-center gap-3">
        <h2 class="text-lg font-semibold text-green-600">Reports</h2>
      </div>
      <div class="flex flex-col">
        <a
          class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href=""
        >
          <i class="fas fa-file-invoice text-green-500 mr-2"></i> Maintenance
          Report
        </a>
        <a
          class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href=""
        >
          <i class="fas fa-building text-green-500 mr-2"></i> Club House Report
        </a>
      </div>
    </div>

    <div class="control-item mb-4">
      <div class="control-heading flex items-center gap-3">
        <h2 class="text-lg font-semibold text-yellow-600">Others</h2>
      </div>
      <div class="flex flex-col">
        <a
          class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href=""
        >
          <i class="fas fa-file-invoice text-yellow-500 mr-2"></i> Add Media to
          Gallery
        </a>
        <a
          class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href=""
        >
          <i class="fas fa-building text-yellow-500 mr-2"></i> Intercom
          Directory
        </a>
        <a
          class="text-lg mt-3 px-8 py-2 text-black-600 hover:bg-gray-400/[.2] rounded-lg inline-block"
          href=""
        >
          <i class="fas fa-building text-yellow-500 mr-2"></i> Rules and
          Regulations
        </a>
      </div>
    </div>
  </div>
</sidebar>

<script>
  document.getElementById("sidebar1").style.display = "none";
  function w3_close11(sidebar) {
        if (sidebar == "sidebar1") {
          document.getElementById("sidebar1").style.display = "none";
        } else {
          document.getElementById("sidebar2").style.display = "none";
        }
      }

      function expandSidebar(hamBtn) {
        console.log(hamBtn);
        if (hamBtn == "hamBtn1") {
          if (document.getElementById("sidebar1").style.display == "block") {
            document.getElementById("sidebar1").style.display = "none";
          } else {
            document.getElementById("sidebar1").style.display = "block";
          }
        } else {
          if (document.getElementById("sidebar2").style.display == "block") {
            document.getElementById("sidebar2").style.display = "none";
          } else {
            document.getElementById("sidebar2").style.display = "block";
          }
        }
      }
</script>
